html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to bottom, rgb(189, 24, 162), rgb(180, 20, 100));
    padding: 0.05vw;
    align-content: center;
  }
  
  .app {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }

  header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
  }
  
  .quotes {
    padding: 20px 50px;
    min-height: 100px;
  }
  
  .quote-text {
    padding-bottom: 5px;
    font-size: 25px;
    color: black;
  }
  
  .controls {
    width: 100%;
    padding: 20px 50px;
  }
  
  .button {
    display: block;
    color: black;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  p {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    justify-content: center; 
    color: white;
    z-index: -1;
  }

  .newimagebutton {
    background-color: #1da1f2;
    text-decoration: none;
  }
  
  .newimagebutton:hover {
    background-color: #1e7fbb;
  }
  
  .quotebutton {
    background-color: #d2456f;
    margin-bottom: 5px;
  }
  
  .quotebutton:hover {
    background-color: #da3ca8;
  }
  
  .quotebutton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  .Wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .showcase {
    height: 400px;
    width: auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;
    padding: 10px;
    position: relative;
  }
  
  .bbnoquote {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Impact', sans-serif;
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding: 0 0.1em;
    text-transform: uppercase;
    z-index: 9999;
  }

  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }