/* 
  these type the CSS variable as color
  unlocking the ability for the browser 
  to animate just that portion
*/
@property --＠color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(247, 100%, 51%);
}

@property --＠color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(0, 92%, 29%);
}

/* keyframes that change the color variable */
@-webkit-keyframes gradient-change {
  to {
    --＠color-1: hsl(325, 100%, 53%);
    --＠color-2: hsl(111, 26%, 24%);
  }
}

@keyframes gradient-change {
  to {
    --＠color-1: hsl(107, 80%, 27%);
    --＠color-2: hsl(310 100% 59%);
  }
}

@keyframes text-change {
  to {
    font-size: 20px;
  }
}

article {
  /* apply variable changes over time */
  -webkit-animation: gradient-change 2s infinite ease-in-out alternate;
          animation: gradient-change 2s infinite ease-in-out alternate;  
  background: linear-gradient(
    to right in oklch, 
    /* use the variables in a gradient (or wherever!) */
    var(--＠color-1), 
    var(--＠color-2)
  );
  
  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* modern browser version */
  background-clip: text;
  color: transparent;
}

article::after {
  animation: text-change 5s infinite linear alternate;
}

@layer demo.support {
  h1 {
    font-size: 50px;
    line-height: 1.1;
  }

  body {
    background: hsl(308, 83%, 11%);

    min-block-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: center;

    font-family: system-ui, sans-serif;
    font-size: min(200%, 4vmin);

    padding: 5vmin;
    overflow: hidden;
  }

  h1, p, body {
    margin: 0;
    text-wrap: balance;
  }

  h1 {
    line-height: 1.25cap;
  }

  p {
    font-family: 'Courier New', Courier, monospace;
  }

  html {
    block-size: 100%;
  }

  article {
    display: grid;
    gap: 1lh;
    text-align: center;
  }
}